body {
  font-family: Arial, sans-serif;
}

h1 strong {
  display: block;
  font-size: 60%;
  opacity: 0.75;
}

.overlay {
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2000;
}

button {
  display: block;
  position: fixed;
  right: 16px;
  top: 16px;
  width: 1.5em;
  height: 1.5em;
  z-index: 4000;
  display: block;
  font-size: 2em;
}
